*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
}


.camera{
    width: 390px;
    height: 844px;

    background: linear-gradient(to right, #07152b, #132747);

    border-radius: 40px;

    position: relative;

    padding: 20px;
}

.topo-config{
    margin-bottom: 25px;
}

.voltar{
    background: transparent;
    border: none;

    color: white;

    font-size: 25px;

    cursor: pointer;
}

.topo-config h1{
    font-size: 22px;
}

/* SEÇÕES */

.secao{
    margin-bottom: 25px;
}

.secao h2{
    color: #8b8b8b;

    font-size: 16px;

    margin-bottom: 10px;
}

/* CARD PADRÃO */

.card{
    background: #041022;

    border: 1px solid #102340;

    border-radius: 15px;

    padding: 10px;

    margin-bottom: 15px;
}

.card h3{
    font-size: 14px;

    margin-bottom: 8px;
}

.card p{
    color: #9e9e9e;

    font-size: 15px;
}

/* SWITCH */

.switch{
    position: relative;

    width: 60px;
    height: 34px;
}

.switch input{
    display: none;
}

.slider{
    position: absolute;

    inset: 0;

    background-color: #2f6fff;

    border-radius: 34px;

    cursor: pointer;
}

.slider::before{
    content: "";

    position: absolute;

    width: 26px;
    height: 26px;

    left: 30px;
    top: 4px;

    border-radius: 50%;

    background-color: white;
}

/* CARD CONFIG */

.card-config{
    background: #041022;

    border: 1px solid #102340;

    border-radius: 25px;

    padding: 20px;

    margin-bottom: 15px;
}

.card-config i{
    font-size: 28px;
}

.card-config h3{
    font-size: 14px;

    margin-bottom: 5px;
}

.card-config p{
    color: #9e9e9e;

    font-size: 15px;
}