body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.zoom{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
}

.modos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topo-config{
    display: flex;
    align-items: center;

    gap: 15px;
}

/* CARD */

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CARD CONFIG */

.card-config{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone-texto{
    display: flex;
    align-items: center;

    gap: 15px;
}

.topo-status{
    display: flex;
    align-items: center;

    gap: 15px;
}


.sistema-card{
    display: flex;
    align-items: center;

    gap: 20px;
}

.icone-status{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GRID */

.grid-recursos{
    display: flex;
    flex-wrap: wrap;

    gap: 15px;

    margin-bottom: 40px;
}

.recurso-card{
    flex: 1 1 160px;
}

/* BARRAS */

.barra-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-armazenamento{
    display: flex;
    align-items: center;

    gap: 15px;
}


.backup-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 18px;
}

.icone-backup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-backup{
    flex: 1;
}

.backup-info{
    display: flex;
    justify-content: space-between;
}


.cards-info{
    display: flex;
    gap: 15px;
}

.info-card{
    flex: 1;
}

.switch-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ativo-topo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.check{
    margin-left: auto;
}